# sbt
# (may want to keep parts of 'project')
train/bin/
train/project/
train/target/
train/build/
predictor/bin/
predictor/target/
predictor/build/
predictor/mainRunner/*
*.sc

# intellij idea
*.log
*.iml
*.ipr
*.iws
train/.idea
predictor/.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class
